.loading-overlay {
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-field-error {
    position: absolute;
    left: 0;
    top: 50px;
    color: red;
  }
  .md-bottom-bar.md-theme-default.md-type-shift {
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
  .md-snackbar.md-position-center.md-theme-default {
    bottom: 56px;
  }