.socCycle {
    margin: 0 auto;
    width: 300px;
    height: 250px;
    position: relative;
    margin-top: 5%;
}
.socCycle svg {
    height: 100%;
}
.settingsSection {
    font-size: 1.5em;
    margin-left: 5%;
}
.settingsPart {
    width: 90%;
    margin-left: 5%;
}
.pwBtn {
    position: absolute;
    right: 0;
    margin-right: 5%;
}
.marginLeft {
    margin-left: 5%;
    width: 90%;
}
.station-connectors {
    float: right;
    font-size: 10px;
}
.station-address {
    margin-left: 20%;
}
.connection-info-icon {
    position: absolute;
    right: 10%;
}
.mdl-button--icon.consumption-settings-icon {
    position: absolute;
    right: 5%;
    padding-top: 16px;
}
.mdl-list__item-avatar.material-icons.operational {
    background-color: #39dc64;
}
.mdl-list__item-avatar.material-icons.slow {
    background-color: #ffb93a;
}
.mdl-list__item-avatar.material-icons.fault {
    background-color: #ff3a3a;
}
.mdl-list__item--three-line {
    height: auto;
    box-sizing: unset;
}
.mdl-list__item--three-line .mdl-list__item-primary-content {
    height: auto;
}
.charging-info-list {
    border: 1px solid #ddd;
}
.charging-info-list .material-icons.mdl-list__item-icon {
    float: left;
}
.mdl-layout__drawer {
    overflow: hidden;
}
.navigation-icon {
    position: absolute;
    right: 16px;
}
.navigation-icon.dashboard {
    top: 96px;
}
.navigation-icon.stations {
    top: 152px;
}
.navigation-icon.settings {
    top: 208px;
}
.navigation-element {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.navigation-element.dashboard {
    top: 80px;
}
.navigation-element.stations {
    top: 136px;
}
.navigation-element.settings {
    top: 192px;
}
.navigation-version-info {
    color: #757575;
    position: absolute;
    right: 16px;
    bottom: 0;
}
/* Android 4.1 Fixes */
header.mdl-layout__header.is-casting-shadow,
.mdl-snackbar.mdl-js-snackbar,
.mdl-navigation,
.charging-info-list .mdl-list__item,
.charging-info-list .mdl-list__item-primary-content,
.mdl-layout__drawer {
    display: block;
}
.mdl-snackbar.mdl-js-snackbar.mdl-snackbar--active {
    position: fixed;
}
