<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="101090" id="com.evnotify.app" version="1.1.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EVNotify</name>
    <description>
        EVNotify allows you to control your electric vehicle and let you notify when the specified preset state of charge has been achieved.
    </description>
    <author email="info@evnotify.de" href="https://evnotify.de">
        EVNotify
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="hdpi" src="assets/hdpi/icon.png" />
        <icon density="mdpi" src="assets/mdpi/icon.png" />
        <icon density="xhdpi" src="assets/xhdpi/icon.png" />
        <icon density="xxhdpi" src="assets/xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="assets/xxxhdpi/icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-bluetooth-serial" spec="~0.4.7" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.3" />
    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" spec="~4.0.7" />
    <plugin name="cordova-plugin-autostart" spec="~2.0.1" />
</widget>
